In [10]:
import pandas as pd
import numpy
from datetime import date, datetime


today = date.today()
# mm/dd/y
today = today.strftime("%m/%d/%Y")
print(today)

03/29/2023

In [11]:
#example_sc = ["Infineon", "Infineon 2", "Infineon 3"]

In [12]:
db = pd.read_csv("../MOCK_data/SAP_Production.csv", sep=",")

In [13]:
db

,Production_Order,Material,Plant,Quantity,Start_Date,End_Date
0,1,Aluminum,Asteraceae,687,7/3/2018,3/27/2022
1,2,Plastic,Asteraceae,841,1/23/2019,1/10/2021
2,3,Brass,Poaceae,989,2/2/2019,12/22/2022
3,4,Plastic,Fagaceae,456,2/23/2019,2/9/2022
4,5,Vinyl,Rosaceae,551,1/15/2019,9/16/2021
...,...,...,...,...,...,...
995,996,Granite,Myoporaceae,436,10/9/2018,1/7/2023
996,997,Rubber,Iridaceae,113,11/18/2018,8/14/2021
997,998,Stone,Lamiaceae,648,3/9/2019,4/25/2021
998,999,Granite,Hydrophyllaceae,369,9/17/2018,2/15/2023
999,1000,Stone,Grossulariaceae,975,11/21/2018,12/17/2022

In [4]:
#db_sc = db[db['Company'].isin(example_sc)]
kpis = {}

In [8]:
top_materials = db.groupby('Material')['Quantity'].sum().nlargest(5).to_dict()
top_materials

{'Plastic': 63391,
 'Granite': 54482,
 'Wood': 51460,
 'Vinyl': 51063,
 'Brass': 50221}

In [9]:
#ez_mean_kpis

kpis["top_materials"] = (top_materials)

kpis

{'top_materials': {'Plastic': 63391,
  'Granite': 54482,
  'Wood': 51460,
  'Vinyl': 51063,
  'Brass': 50221}}

In [7]:
#ez_gender_stuff
distinct_genders = len(db["gender"].unique())
kpis["distinct_genders"] = (distinct_genders)

gender_count = db.groupby('gender').size()

# Calculate the ratio of each gender
gender_ratio = gender_count / len(db)

# Print the results
kpis["ratio_genders"] = (gender_ratio.to_dict())

In [8]:
#time_in_company
time_in_company = []

start_dates = db["start date"].tolist()

def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

for start_date in start_dates:
    time_in_c = diff_month(datetime(int(today[6:10]),int(today[:2]),int(today[3:5])), datetime(int(start_date[6:10]),int(start_date[:2]),int(start_date[3:5])))
    time_in_company.append(time_in_c)

db["time_in_company"] = time_in_company
db["time_in_company"].mean()

kpis["avg_time_in_company_months"] = db["time_in_company"].mean()
kpis

{'avg_wage': 271083.57,
 'avg_sick_days': 5.642,
 'avg_age': 46.276,
 'avg_training_hours': 98.993,
 'avg_headcounts_in_upper_mgmt': 0.504,
 'distinct_genders': 8,
 'ratio_genders': {'Agender': 0.012,
  'Bigender': 0.015,
  'Female': 0.441,
  'Genderfluid': 0.011,
  'Genderqueer': 0.019,
  'Male': 0.467,
  'Non-binary': 0.014,
  'Polygender': 0.021},
 'avg_time_in_company_months': 146.292}

In [9]:
#gender in upper management ATTENTION I THINK THIS JUST TAKES THE RATIO IN THE GENDER ITSELF NOT THE GENERAL FEMALES IN UPPER MGMT PER FULL
gender_ratio = db.groupby('gender')['upper management'].mean().to_dict()

# Print the results
#print(gender_ratio)

kpis["gender_in_upper_mangement"] = gender_ratio

In [10]:
#gender iwage ATTENTION THIS JUST TAKES THE RATIO IN THE GENDER ITSELF NOT THE GENERAL FEMALES IN UPPER MGMT PER FULL
gender_ratio_wage = db.groupby('gender')['Wage per year in euro'].mean().to_dict()

# Print the results
#print(gender_ratio)

kpis["gender_ratio_wage"] = gender_ratio_wage

In [11]:
kpis

{'avg_wage': 271083.57,
 'avg_sick_days': 5.642,
 'avg_age': 46.276,
 'avg_training_hours': 98.993,
 'avg_headcounts_in_upper_mgmt': 0.504,
 'distinct_genders': 8,
 'ratio_genders': {'Agender': 0.012,
  'Bigender': 0.015,
  'Female': 0.441,
  'Genderfluid': 0.011,
  'Genderqueer': 0.019,
  'Male': 0.467,
  'Non-binary': 0.014,
  'Polygender': 0.021},
 'avg_time_in_company_months': 146.292,
 'gender_in_upper_mangement': {'Agender': 0.3333333333333333,
  'Bigender': 0.6,
  'Female': 0.46485260770975056,
  'Genderfluid': 0.6363636363636364,
  'Genderqueer': 0.47368421052631576,
  'Male': 0.5353319057815846,
  'Non-binary': 0.7142857142857143,
  'Polygender': 0.47619047619047616},
 'gender_ratio_wage': {'Agender': 223491.66666666666,
  'Bigender': 298597.5333333333,
  'Female': 265381.67800453515,
  'Genderfluid': 230274.27272727274,
  'Genderqueer': 247740.31578947368,
  'Male': 276867.2034261242,
  'Non-binary': 300119.64285714284,
  'Polygender': 292887.85714285716}}

In [80]:
#demographic_change_risk 
demographic_change_risk=numpy.where(db["Age under 30"]<=0.3,"Demogrpahic Change Risk","No Risk")
demographic_change_risk

array(['Demogrpahic Change Risk', 'Demogrpahic Change Risk',
       'Demogrpahic Change Risk'], dtype='<U23')

In [ ]:
#diversity_risk 
diversity_risk=numpy.where(db_sc["Female Middle and Senior Level Management in %"]<=0.4,"Diversity Risk","No Risk")
diversity_risk

In [ ]:
#transparency 
'diversity_risk=numpy.where(db_sc["Female Middle and Senior Level Management in %"]<=0.4,"Diversity Risk","No Risk")
diversity_risk'

In [81]:
risks_df = pd.DataFrame({'Company':Company, 'diversity_risk':diversity_risk, 'demographic_change_risk':demographic_change_risk})
risks_df

      Company  diversity_risk  demographic_change_risk
0    Infineon  Diversity Risk  Demogrpahic Change Risk
1  Infineon 2  Diversity Risk  Demogrpahic Change Risk
2  Infineon 3  Diversity Risk  Demogrpahic Change Risk