In [54]:
import pandas as pd
import numpy
from datetime import date, datetime


today = date.today()
# mm/dd/y
today = today.strftime("%m/%d/%Y")
print(today)

03/29/2023

In [55]:
#example_sc = ["Infineon", "Infineon 2", "Infineon 3"]

In [56]:
db = pd.read_csv("../MOCK_data/SAP_Purchasing.csv", sep=",")

In [57]:
db

,Purchase_Order,Vendor,geo_lat,geo_long,Materials,Quantity,Price,Delivery_Date,Country,City,Adress
0,1,"SuperValu, Inc.",-6.990921,113.865910,Rubber,711,3534,2020/07/31,Indonesia,Kebunan,6330 Barby Alley
1,2,Contract Pharmacy Services-PA,46.400511,-72.269020,Steel,472,3515,2022/09/02,Canada,Bécancour,1 Springview Place
2,3,Carilion Materials Management,10.430960,-85.096659,Plastic,166,1299,2022/09/22,Costa Rica,Cañas,0 Troy Street
3,4,Barr Laboratories Inc.,41.083229,-7.822557,Granite,287,3067,2021/03/17,Portugal,Estrada,658 Bonner Park
4,5,Jafra cosmetics International,11.469388,123.147605,Wood,336,2578,2020/06/01,Philippines,Estancia,52863 Express Point
...,...,...,...,...,...,...,...,...,...,...,...
995,996,BCM Cosmetique SAS,30.233873,119.724733,Rubber,588,3781,2022/09/02,China,Lin’an,5406 Sommers Crossing
996,997,"SHISEIDO CO., LTD.",-25.680178,-53.541922,Wood,148,2290,2022/03/19,Brazil,Realeza,5 Scoville Parkway
997,998,"G&W Laboratories, Inc.",41.270347,123.174325,Wood,942,3224,2021/07/18,China,Baita,2 Drewry Pass
998,999,STAT Rx USA LLC,15.051008,120.896625,Glass,477,3553,2021/08/16,Philippines,Vizal San Pablo,205 Manufacturers Court
999,1000,"Coloplast Manufacturing US, LLC",6.000000,120.966667,Vinyl,259,3195,2020/11/10,Philippines,Langpas,43945 Carberry Court

In [5]:
#db_sc = db[db['Company'].isin(example_sc)]
kpis = {}

In [31]:
top_materials = db.groupby('Materials')['Quantity'].sum().nlargest(20).to_dict()
top_materials

{'Rubber': 54176,
 'Brass': 53671,
 'Vinyl': 53019,
 'Glass': 49324,
 'Wood': 48507,
 'Steel': 45961,
 'Plastic': 43002,
 'Granite': 41582,
 'Stone': 41518,
 'Plexiglass': 40375,
 'Aluminum': 34053}

In [32]:
#ez_mean_kpis

kpis["top_materials_pur"] = (top_materials)

kpis

{'top_materials_pur': {'Rubber': 54176,
  'Brass': 53671,
  'Vinyl': 53019,
  'Glass': 49324,
  'Wood': 48507,
  'Steel': 45961,
  'Plastic': 43002,
  'Granite': 41582,
  'Stone': 41518,
  'Plexiglass': 40375,
  'Aluminum': 34053}}

In [33]:
top_vendor_price = db.groupby('Vendor')['Price'].sum().nlargest(20).to_dict()
top_vendor_price

{'Botsford and Sons': 8754,
 'Rau and Sons': 8347,
 'Dickinson Inc': 6723,
 'Lubowitz LLC': 6563,
 'Fisher and Sons': 6443,
 'Marquardt Inc': 6197,
 'Little Group': 6056,
 'Toy LLC': 5620,
 'Kohler Group': 5482,
 'Gaylord LLC': 5307,
 'Hickle Inc': 4856,
 'Predovic and Sons': 4749,
 'Smitham Group': 4486,
 'Schuster Group': 4288,
 'Beatty Inc': 4021,
 'Bosco, Pacocha and Grant': 3999,
 'Dooley-Metz': 3996,
 'McCullough, Thiel and Braun': 3996,
 'Schmidt Inc': 3989,
 'Von, Gulgowski and Bogan': 3986}

In [34]:
top_vendor_quant = db.groupby('Vendor')['Quantity'].sum().nlargest(20).to_dict()
top_vendor_quant

{'Lubowitz LLC': 1943,
 'Fisher and Sons': 1776,
 'Schuster Group': 1734,
 'Boehm Group': 1636,
 'VonRueden Group': 1548,
 'Dickinson Inc': 1468,
 'Mueller Group': 1465,
 'Gaylord LLC': 1271,
 'Little Group': 1242,
 'Stiedemann Group': 1197,
 'Botsford and Sons': 1174,
 'Rau and Sons': 1082,
 'Smitham Group': 1054,
 'Kohler Group': 1048,
 'Goyette-Nolan': 997,
 'Stroman, Jacobson and Larson': 997,
 'Mohr, Herzog and Ledner': 995,
 "Bergstrom, Moore and O'Hara": 994,
 'Leuschke Inc': 994,
 'Bahringer, Klein and Ruecker': 993}

In [49]:
#process mine the most common SC:
db = db.sort_values('Delivery_Date')
db['Previous_Vendor'] = db['Vendor'].shift(1)
db

,Purchase_Order,Vendor,geo_lat,geo_long,Materials,Quantity,Price,Delivery_Date,Previous_Vendor
74,75,Jacobi LLC,-9.385160,-171.246750,Vinyl,346,413,2020/06/01,NaN
571,572,Carter Inc,53.986500,27.798200,Brass,827,302,2020/06/03,Jacobi LLC
18,19,"Smitham, Ryan and Morar",-31.483437,-64.214567,Stone,250,2716,2020/06/04,Carter Inc
240,241,Barrows-Hilll,45.850714,4.785282,Glass,56,726,2020/06/05,"Smitham, Ryan and Morar"
765,766,Jacobson-Schmitt,39.624437,118.200692,Rubber,110,2016,2020/06/05,Barrows-Hilll
...,...,...,...,...,...,...,...,...,...
112,113,"Upton, Crooks and Cremin",-8.442856,112.697335,Granite,171,1499,2023/03/25,Schimmel Group
588,589,Schuppe LLC,31.230390,121.473702,Plastic,928,2223,2023/03/25,"Upton, Crooks and Cremin"
927,928,Stiedemann-Kreiger,16.152500,36.203200,Glass,378,387,2023/03/25,Schuppe LLC
763,764,Russel and Sons,2.046934,45.318162,Vinyl,176,2525,2023/03/25,Stiedemann-Kreiger
395,396,Feeney-Kub,-14.546001,48.754290,Steel,673,120,2023/03/25,Russel and Sons

In [50]:
appearances = db.groupby(['Vendor', 'Previous_Vendor']).size().reset_index(name='count')
appearances

                               Vendor                Previous_Vendor  count
0                       Abbott-Marvin                      Towne Inc      1
1                     Abernathy Group                       Hand Inc      1
2                       Abernathy Inc      Rau, Vandervort and Emard      1
3                       Abernathy LLC  Friesen, Hackett and Nitzsche      1
4    Abernathy, Gusikowski and Harber        Miller, Jerde and Bruen      1
..                                ...                            ...    ...
994         Yost, Corkery and Nicolas                      Stamm Inc      1
995                        Zemlak LLC                Sawayn-Prohaska      1
996          Zemlak, Howe and Tillman      Kozey, Hegmann and Heller      1
997                     Ziemann Group      Bode, Ledner and Schuster      1
998          Ziemann, Blick and Marks          Sauer, Toy and Wisozk      1

[999 rows x 3 columns]

In [53]:
most_occurring = db.groupby(['Previous_Vendor', 'Vendor']).size().nlargest(10).to_dict()
most_occurring

{('Abbott-Marvin', 'Doyle Group'): 1,
 ('Abernathy Group', 'Sawayn-Prohaska'): 1,
 ('Abernathy Inc', 'Feil, Trantow and West'): 1,
 ('Abernathy LLC', 'Lowe-Yundt'): 1,
 ('Abernathy, Gusikowski and Harber', 'Mohr, Herzog and Ledner'): 1,
 ('Abernathy, Reynolds and Effertz', 'Jacobi-Dare'): 1,
 ('Adams, Wyman and Jast', 'Trantow-Macejkovic'): 1,
 ('Altenwerth LLC', 'Toy LLC'): 1,
 ('Altenwerth-Koelpin', 'Murazik-Homenick'): 1,
 ('Altenwerth-Windler', 'Gutkowski, Lowe and Gleason'): 1}

In [62]:
top_countries = db['Country'].value_counts().nlargest(20).to_dict()
top_countries

{'China': 196,
 'Indonesia': 109,
 'Russia': 68,
 'Philippines': 46,
 'Brazil': 43,
 'Poland': 39,
 'Sweden': 28,
 'Portugal': 26,
 'United States': 25,
 'France': 22,
 'Japan': 20,
 'Ukraine': 18,
 'Czech Republic': 16,
 'Canada': 14,
 'Colombia': 14,
 'Mexico': 12,
 'Peru': 10,
 'Greece': 10,
 'Thailand': 9,
 'Argentina': 8}

In [63]:
top_cities = db['City'].value_counts().nlargest(20).to_dict()
top_cities

{'Stockholm': 5,
 'Taiping': 2,
 'San Francisco': 2,
 'Zhongdong': 2,
 'Xiaopu': 2,
 'Makadi Bay': 2,
 'Benito Juarez': 2,
 'Gwio Kura': 2,
 'Yamoussoukro': 2,
 'Daja Lorong': 2,
 'Tonoas Municipal Building': 2,
 'Qiting': 2,
 'Chocz': 2,
 'Cergy-Pontoise': 2,
 'San Isidro': 2,
 'Birni N Konni': 2,
 'Laspezia': 2,
 'Svenljunga': 2,
 'Báguanos': 2,
 'Mazkeret Batya': 2}