In [188]:
import pandas as pd
import numpy
from datetime import date, datetime


today = date.today()
# mm/dd/y
today = today.strftime("%m/%d/%Y")
print(today)

03/26/2023

In [189]:
#example_sc = ["Infineon", "Infineon 2", "Infineon 3"]

In [190]:
db = pd.read_csv("MOCK_DATA1.csv", sep=",")
company = "mock1_2022"

In [191]:
db

,id,first_name,last_name,gender,Job Title,Seniority,Wage per year in euro,days sick,age,training hours,start date,upper management
0,1,Alethea,Avraam,Female,Marketing Assistant,IV,49414,6,64,164,06/08/2009,False
1,2,Allin,Harkes,Male,Financial Advisor,II,189236,2,25,40,12/08/2015,False
2,3,Maximilian,Ruit,Male,Staff Scientist,III,203157,8,57,156,03/13/2020,False
3,4,Pansie,Arnaudin,Female,Structural Analysis Engineer,IV,480941,0,55,72,03/13/2002,True
4,5,Archer,Meneo,Male,Software Test Engineer IV,II,56311,9,27,12,09/16/2012,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Faber,Kelling,Male,Software Engineer I,III,133832,2,50,139,04/09/2014,False
996,997,Ross,Duck,Male,Technical Writer,III,220276,11,68,15,09/19/2018,False
997,998,Zola,Laffan,Female,VP Accounting,II,338111,0,30,185,10/31/2020,False
998,999,Ryun,Morales,Male,Physical Therapy Assistant,Sr,315487,4,56,0,09/28/2004,True
999,1000,Cobby,Inkin,Male,Information Systems Manager,II,493947,7,37,137,11/18/1999,False

In [192]:
#db_sc = db[db['Company'].isin(example_sc)]
kpis = {}

In [193]:
#ez_mean_kpis
avg_wage = db["Wage per year in euro"].mean()
avg_sick_days = db["days sick"].mean()
avg_age = db["age"].mean()
avg_training_hours = db["training hours"].mean()
avg_headcounts_in_upper_mgmt = db["upper management"].mean()

kpis["avg_wage"] = (avg_wage)
kpis["avg_sick_days"] = (avg_sick_days)
kpis["avg_age"] = (avg_age)
kpis["avg_training_hours"] = (avg_training_hours)
kpis["avg_headcounts_in_upper_mgmt"] = (avg_headcounts_in_upper_mgmt)

kpis

{'avg_wage': 271083.57,
 'avg_sick_days': 5.642,
 'avg_age': 46.276,
 'avg_training_hours': 98.993,
 'avg_headcounts_in_upper_mgmt': 0.504}

In [194]:
#ez_gender_stuff
distinct_genders = len(db["gender"].unique())
kpis["distinct_genders"] = (distinct_genders)

gender_count = db.groupby('gender').size()

# Calculate the ratio of each gender
gender_ratio = gender_count / len(db)

# Print the results
kpis["ratio_genders"] = (gender_ratio.to_dict())

In [195]:
#time_in_company
time_in_company = []

start_dates = db["start date"].tolist()

def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

for start_date in start_dates:
    time_in_c = diff_month(datetime(int(today[6:10]),int(today[:2]),int(today[3:5])), datetime(int(start_date[6:10]),int(start_date[:2]),int(start_date[3:5])))
    time_in_company.append(time_in_c)

db["time_in_company"] = time_in_company
db["time_in_company"].mean()

kpis["avg_time_in_company_months"] = db["time_in_company"].mean()
kpis

{'avg_wage': 271083.57,
 'avg_sick_days': 5.642,
 'avg_age': 46.276,
 'avg_training_hours': 98.993,
 'avg_headcounts_in_upper_mgmt': 0.504,
 'distinct_genders': 8,
 'ratio_genders': {'Agender': 0.012,
  'Bigender': 0.015,
  'Female': 0.441,
  'Genderfluid': 0.011,
  'Genderqueer': 0.019,
  'Male': 0.467,
  'Non-binary': 0.014,
  'Polygender': 0.021},
 'avg_time_in_company': 146.292}

In [199]:
#gender in upper management ATTENTION I THINK THIS JUST TAKES THE RATIO IN THE GENDER ITSELF NOT THE GENERAL FEMALES IN UPPER MGMT PER FULL
gender_ratio = db.groupby('gender')['upper management'].mean().to_dict()

# Print the results
#print(gender_ratio)

kpis["gender_in_upper_mangement"] = gender_ratio

In [202]:
#gender iwage ATTENTION THIS JUST TAKES THE RATIO IN THE GENDER ITSELF NOT THE GENERAL FEMALES IN UPPER MGMT PER FULL
gender_ratio_wage = db.groupby('gender')['Wage per year in euro'].mean().to_dict()

# Print the results
#print(gender_ratio)

kpis["gender_ratio_wage"] = gender_ratio_wage

In [203]:
kpis

{'avg_wage': 271083.57,
 'avg_sick_days': 5.642,
 'avg_age': 46.276,
 'avg_training_hours': 98.993,
 'avg_headcounts_in_upper_mgmt': 0.504,
 'distinct_genders': 8,
 'ratio_genders': {'Agender': 0.012,
  'Bigender': 0.015,
  'Female': 0.441,
  'Genderfluid': 0.011,
  'Genderqueer': 0.019,
  'Male': 0.467,
  'Non-binary': 0.014,
  'Polygender': 0.021},
 'avg_time_in_company': 146.292,
 'gender_in_upper_mangement': {'Agender': 0.3333333333333333,
  'Bigender': 0.6,
  'Female': 0.46485260770975056,
  'Genderfluid': 0.6363636363636364,
  'Genderqueer': 0.47368421052631576,
  'Male': 0.5353319057815846,
  'Non-binary': 0.7142857142857143,
  'Polygender': 0.47619047619047616},
 'gender_ratio_wage': {'Agender': 223491.66666666666,
  'Bigender': 298597.5333333333,
  'Female': 265381.67800453515,
  'Genderfluid': 230274.27272727274,
  'Genderqueer': 247740.31578947368,
  'Male': 276867.2034261242,
  'Non-binary': 300119.64285714284,
  'Polygender': 292887.85714285716}}

In [80]:
#demographic_change_risk 
demographic_change_risk=numpy.where(db["Age under 30"]<=0.3,"Demogrpahic Change Risk","No Risk")
demographic_change_risk

array(['Demogrpahic Change Risk', 'Demogrpahic Change Risk',
       'Demogrpahic Change Risk'], dtype='<U23')

In [ ]:
#diversity_risk 
diversity_risk=numpy.where(db_sc["Female Middle and Senior Level Management in %"]<=0.4,"Diversity Risk","No Risk")
diversity_risk

In [ ]:
#transparency 
'diversity_risk=numpy.where(db_sc["Female Middle and Senior Level Management in %"]<=0.4,"Diversity Risk","No Risk")
diversity_risk'

In [81]:
risks_df = pd.DataFrame({'Company':Company, 'diversity_risk':diversity_risk, 'demographic_change_risk':demographic_change_risk})
risks_df

      Company  diversity_risk  demographic_change_risk
0    Infineon  Diversity Risk  Demogrpahic Change Risk
1  Infineon 2  Diversity Risk  Demogrpahic Change Risk
2  Infineon 3  Diversity Risk  Demogrpahic Change Risk